.menu {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 8px rgba(0,0,0,0.25);
    @media (min-width:$screen-xl) {
    box-shadow: none;
    }
    &__item:hover {
    cursor:pointer;
    }
}
.menu__title {
  margin-left: 20px;
  flex-grow: 1;
  align-self: center;
  @media (min-width:$screen-xl) {
  	display: none;
  }
}
