.modal {
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top:0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	z-index: 4;
	&__block {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		background-color: #fff;
		width: 300px;
		height: 80%;
		padding-top: 60px;
		padding-left: 60px;
		padding-right: 40px;
		z-index: 5;
		@media (min-width:$screen-xl) {
			width: 1640px;
			height: 960px;
			padding-left: 150px;
			padding-right: 130px;
		}
	}
	
	&__close {
		text-align: right;
		&:hover {
			cursor:pointer;
		}
	}
	&__top {
		display: flex;
		justify-content: space-between;
	}
	&__mid {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (min-width:$screen-xl) {
			justify-content: center;
			flex-direction: row;
		}
	}
	&__title {
		font-weight: bold;
		position: relative;
		padding-bottom: 10px;
		&:hover {	
			cursor:pointer;
		}
		@media (min-width:$screen-xl) {
			margin-top: 150px;
			padding-bottom: 25px;
			font-size: 48px;
			line-height: 56px;
		}
	}
	&__text {
		display: block;
		text-align: left;
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		@media (min-width:$screen-xl) {}
	}
	&__fish {
		margin-bottom: 20px;
		@media (min-width:$screen-xl) {
			padding-left: 100px;
			width: 300px;
			height: 733px;
			border-left: 1px solid #E5E5E5;
		}
	}
	&__fish:last-child {
		border-right: 1px solid #E5E5E5;
	}
}
.modal__title--hover:after {
		@include sprite($rectangle);
		content: '';
		position: absolute;
		top: 30px;
		left: 0;
		@media (min-width:$screen-xl) {
			top: 55px;
		}
	}