.modal {
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top:0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	z-index: 4;
	&__block {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		background-color: #fff;
		width: 50%;
		height: 50%;
		padding-top: 60px;
		padding-left: 60px;
		padding-right: 40px;
		z-index: 5;
		@media (min-width:$screen-xl) {
			width: 1920px;
			height: 960px;
			padding-left: 150px;
			padding-right: 130px;
		}
	}
	
	&__close {
		text-align: right;
		&:hover {
			cursor:pointer;
		}
	}
	&__top {
		display: flex;
		justify-content: space-between;
	}
	&__mid {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (min-width:$screen-xl) {
			justify-content: center;
			flex-direction: row;
		}
	}
	&__title {
		font-weight: bold;
		&:hover {
			border-bottom: 4px solid #01E0FF;
			cursor:pointer;
		}
		@media (min-width:$screen-xl) {
			font-size: 48px;
			line-height: 56px;
		}
	}
	&__text {
		display: block;
		text-align: left;
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		@media (min-width:$screen-xl) {}
	}
	&__fish {
		// text-align: center;
		padding-left: 100px;
		@media (min-width:$screen-xl) {

			width: 400px;
			height: 733px;
			border-left: 1px solid #E5E5E5;
			// position: relative;
			// &:before {
			// 	content: '';
			// 	position: absolute;
			// }
		}
	}
}