.slider {	
			margin: auto;
			margin-bottom: 60px;
 			
 			&:after {
				content: '';
				clear: both;
				display: table;
			}
 		
		@media (min-width: $screen-xl) {
			width: 1380px;
			position: relative;
			&:before {
				content: 'список';
				text-transform: uppercase;
				position: absolute;
				transform: rotate(-90deg);
				left:-200px;
				top:80px;
				font-size: 48px;
				font-weight: bold;
				color: #DADADA;
			}		
		}
	&__title {
		font-size: 18px;
		margin-bottom: 25px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			width: 182px;
			border-bottom: 1px solid #000;
			top:27px;
			left: 0;
		}
		&:before {
			content: '';
			position: absolute;
		}
	}
	&__text {
		font-size: 14px;
		font-weight: 200;
		line-height: 16px;
		
		@media (min-width: $screen-xl) {
			width: 250px;
			line-height: 16px;
		}
	}
	&__item {

		width: 242px;
		height: 184px;
		border-radius: 10px;
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
		margin: 20px;
		margin-top: 67px;
		padding: 15px;
		position: relative;

		@media (min-width: $screen-xl){
			margin-right: 91px;
			width: 298px;
			height: 150px;
		}
		&:after {
			content: '';
			position: absolute;
			background-image: url("../img/fish1.svg");
			background-size: 100%;
			background-repeat: no-repeat;
			height: 36px;
			width: 48px;
			bottom: 5px;
			right: 5px;
		}

		&:before {
		content: '1';
		font-family: $font-family-second;
		color: #01E1FF;
		font-size: 96px;
		width: 96px;
		position: absolute;
		top:-50px;
		left:-15px;
		font-weight: bold;
		z-index: -10;
		@media (min-width: $screen-xl) {
			top: -100px;
			left:0;
			}
		
		}

		&--second:before {
			content: '2';
		}
		&--second:after {
			background-image: url("../img/fish2.svg");
			height: 66px;
			width: 66px;
		}
		&--third:before {
			content: '3';
		}
		&--third:after {
			background-image: url("../img/fish3.svg");
			width: 69px;
			height: 59px;
		}
		&--fourth:before {
			content: '4';
		}
		&--fourth:after {
			background-image: url("../img/fish3.svg");
			width: 69px;
			height: 59px;
		}

		// &--arrow:after {
		// 	@media (min-width: $screen-xl){
		// 	position: absolute;
		// 		left: 0;
		// 		top: 0;
		// 		@include sprite($right-arrow);
		// 		content: $right-arrow;
		// 		width: 42px;
		// 		height: 78px;
		// 	}
		// }
	}
	
}
.slider__title {
    &:before{
        @media (min-width: $screen-xl) {
        	@include sprite($right-arrow);
            content: $right-arrow;
            background-position: -203px 0px;
            top: 40px;
            left: 350px;
        }
    }
}