.slider {	
			margin: auto;
			margin-bottom: 60px;
 			
 			&:after {
				content: '';
				clear: both;
				display: table;
			}
 		
		@media (min-width: $screen-xl) {
			width: 1380px;
			position: relative;
			&:before {
				content: 'список';
				text-transform: uppercase;
				position: absolute;
				transform: rotate(-90deg);
				left:-200px;
				top:80px;
				font-size: 48px;
				font-weight: bold;
				color: #DADADA;
			}		
		}
	&__title {
		font-size: 18px;
		margin-bottom: 25px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			width: 182px;
			border-bottom: 1px solid #000;
			top:27px;
			left: 0;
		}
	}
	&__text {
		font-size: 14px;
		font-weight: 200;
		line-height: 16px;
		
		@media (min-width: $screen-xl) {
			width: 250px;
			line-height: 16px;
		}
	}
	&__item {
		width: 242px;
		height: 184px;
		border-radius: 10px;
		box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
		margin: 20px;
		margin-top: 67px;
		padding: 15px;
		position: relative;

		@media (min-width: $screen-xl){
			margin-right: 91px;
			width: 298px;
			height: 150px;
		}
		&:after {
			content: '';
			position: absolute;
			background-image: url("../img/fish1.svg");
			background-size: 100%;
			height: 36px;
			width: 48px;
			bottom: 15px;
			right: 15px;
		}
		&:before {
		content: '1';
		font-family: $font-family-second;
		color: #01E1FF;
		font-size: 96px;
		width: 96px;
		position: absolute;
		top:-50px;
		left:-15px;
		font-weight: bold;
		z-index: -1;
		@media (min-width: $screen-xl) {
			top: -80px;
			left:0;
		}
		
	}

		&--second:before {
			content: '2';
		}
		&--second:after {
			background-image: url("../img/fish2.svg");
		}
		&--third:before {
			content: '3';
		}
		&--third:after {
			background-image: url("../img/fish3.svg");
		}
		&--fourth:before {
			content: '4';
		}
		&--fourth:after {
			background-image: url("../img/fish3.svg");
		}
	}
	
}