.slider {	
			margin: auto;
			margin-bottom: 60px;
 			width: 272px;
 			height: 214px;
 			border-radius: 10px;
 			box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
 			&:after {
				content: '';
				clear: both;
				display: table;
			}
 		
		@media (min-width: $screen-xl) {
			width: 1170px;			}
	&__title {
		font-size: 18px;
	}
	&__text {
		font-size: 14px;
		font-weight: 200;
	}
	&__item {
		// overflow: auto;
		padding: 15px 15px;
		width: 237px;
		height: 139px;
		position: relative;

		&:before {
		content: '1';
		font-family: $font-family-second;
		color: #01E1FF;
		font-size: 96px;
		width: 96px;
		position: absolute;
		top:0px;
		left:5px;
		font-weight: bold;
		z-index: -1;
		opacity: 0.5;
		}
		&--first:before {
			content: '1';
		}
		&--second:before {
			content: '2';
		}
		&--third:before {
			content: '3';
		}
		&--fourth:before {
			content: '4';
		}
	}
	&__item:after {
			content: '';
			clear: both;
			display: table;

	}

	
}